// Define your variable overrides here
// Typography variables
$font-family-sans-serif: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Arial, sans-serif;
$enable-responsive-font-sizes: true !default;
$font-size-base: 16;
$line-height-base: 1.7 !default;
$text-color: #343a40 !default;
// Header sizing variables
$h1-font-size: $font-size-base * 1.625 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.375 !default;
$h4-font-size: $font-size-base * 1.25 !default;
$h5-font-size: $font-size-base * 1.125 !default;
$h6-font-size: $font-size-base !default;

// color variables
$primary: rgba(96, 225, 224, 1);
$secondary: rgba(224, 180, 202, 1);
$success: rgba(160, 224, 96, 1);
$info: rgba(67, 146, 241, 1);
$danger: rgba(242, 87, 87, 1);
$warning: rgba(255, 209, 102, 1);
$light: rgba(250, 250, 250, 1);

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

// General style overrides and custom classes
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.uww-title-font {
  font-family: 'Montserrat',
  'Noto Sans JP',
  -apple-system,
  BlinkMacSystemFont,
  Roboto,
  'Helvetica Neue',
  Arial,
  sans-serif;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s
}
.page-enter,
.page-leave-active {
  opacity: 0
}

$colorList: primary, secondary, success, info, danger, warning;
@each $colorname in $colorList {
  $color: #000000;
  @if $colorname == primary {
    $color: $primary;
  } @else if $colorname == secondary {
    $color: $secondary;
  } @else if $colorname == success {
    $color: $success;
  } @else if $colorname == info {
    $color: $info;
  } @else if $colorname == danger {
    $color: $danger;
  } @else if $colorname == warning {
    $color: $warning;
  }
  .marking-hover-#{$colorname} {
    background-image: -webkit-linear-gradient(left, $color 50%, transparent 50%);
    background-image: linear-gradient(to right, $color 50%, transparent 50%);
    background-position: 100% 100%;
    background-size: 200% 0.2em;
    background-repeat: no-repeat;
    -webkit-transition: background-position .5s ease;
    transition: background-position .5s ease;
  }
  .marking-hover-#{$colorname}:hover {
    background-position: 0% 100%;
  }
  .marking-scroll-#{$colorname} {
    padding: 0.5em;
    background-image: -webkit-linear-gradient(left, $color 50%, transparent 50%);
    background-image: linear-gradient(to right, $color 50%, transparent 50%);
    background-position: 100% 100%;
    background-size: 200% 0.2em;
    background-repeat: no-repeat;
    -webkit-transition: background-position .5s ease;
    transition: background-position .5s ease;
  }
  .marking-scroll-#{$colorname}.active {
    background-position: 0% 100%;
  }
  table.fine2col-#{$colorname} {
    width: 100%;
    tr {
      th {
        padding: 0.5rem;
        text-align: center;
        background-color: lighten($color, 25%);
        font-weight: normal;
        border-right: solid 4px $color;
      }
      td {
        height: 2.5rem;
        text-align: center;
      }
    }
    tr:nth-child(odd)>td {
      background: $white;
    }
    tr:nth-child(even)>td {
      background: $gray-200;
    }
  }
}
